body{background-color: lightcyan; }

h1{color: lavender;
	font-family: Helvetica;
	font-size: 44px;
	background-color: #DO98F2;
	text-align: center;}

p{	color:f6F9D3;
	font-family: Helvetica;
	font-size: 12px;
	text-align: center;}

	a{text-decoration: none;}
